<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Email</title>

</head>

<body style="margin: 0; padding: 0; font-family: sans-serif; background-color: #ffffff;">
    <div class="container" style="max-width: 700px; margin: 0 auto; padding: 50px 20px; text-align: center;">
        <img src="https://res.cloudinary.com/dqlxustqf/image/upload/v1770628022/header-img_meyekd.png"
            alt="Header Image" style="max-width:100%; height:auto;" />

        <div class="main-div" style="text-align: center; padding: 40px 20px;">
            <h3 style="font-size: 23px; color: rgba(0, 161, 156, 1); font-family: sans-serif; margin: 20px 0 10px 0;">
                Dear {{name}},<br>
                Congratulations!
            </h3>
            <p class="p-1" style="margin: 15px 0; font-size: 20px; font-family: sans-serif;">
                Your account has been successfully created with the following details
            </p>
            <h4><a href style="font-size: 23px; font-weight: 400; color: rgba(0, 161, 156, 1);">Company</a></h4>
            <p style="font-size: 23px; font-family: sans-serif; margin: 15px 0;">{{company}}</p>
            <h4><a href style="font-size: 23px; font-weight: 400; color: rgba(0, 161, 156, 1);">Position</a></h4>
            <p style="font-size: 23px; font-family: sans-serif; margin: 15px 0;">{{designation}}</p>
            <h4><a href style="font-size: 23px; font-weight: 400; color: rgba(0, 161, 156, 1);">Country</a></h4>
            <p style="font-size: 23px; font-family: sans-serif; margin: 15px 0;">{{country}}</p>
           
            <h3 style="font-size: 23px; color: rgba(0, 161, 156, 1); font-family: sans-serif; margin: 20px 0 10px 0;">
                Thank you!</h3>
            <span
                style="font-size: 15px; font-family: Arial, Helvetica, sans-serif; color: rgba(65, 65, 65, 1); display: block; margin-top: 20px;">
                For any assistance or inquiries, please contact our administrator at
    mbr-query@petronas.com.
            </span>
        </div>
    </div>
</body>

</html>