<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Reset</title>
    
  </head>
  <body style="margin: 0; padding: 0; font-family: sans-serif; background-color: #ffffff;">
    <div class="container" style="max-width: 700px; margin: 0 auto; padding: 50px 20px; text-align: center;">
      <img src="header-img.png" alt="Header Image" style="max-width: 100%; height: auto;" height="auto">
      <div class="main-div" style="text-align: center; padding: 40px 20px;">
        <h3 style="font-size: 23px; color: rgba(0, 161, 156, 1); font-family: sans-serif; margin: 20px 0 10px 0;">Dear [Name],</h3>
        <p style="font-size: 23px; font-family: sans-serif; margin: 15px 0;">We received a request to reset the password for your account.</p>
        <p style="font-size: 23px; font-family: sans-serif; margin: 15px 0;">
          If you made this request, please click the button below to create a
          new password. This link will expire in 15minutes for security reasons.
        </p>
        <p style="font-size: 23px; font-family: sans-serif; margin: 15px 0;">
          If you did not request this, please ignore this email - your password
          will remain unchanged.
        </p>
        <h3 style="font-size: 23px; color: rgba(0, 161, 156, 1); font-family: sans-serif; margin: 20px 0 10px 0;"><a href style="text-decoration: none; font-size: 23px; color: rgba(0, 161, 156, 1); font-family: sans-serif; font-style: italic;">Reset Password</a></h3>
        <h3 style="font-size: 23px; color: rgba(0, 161, 156, 1); font-family: sans-serif; margin: 20px 0 10px 0;">Thank you!</h3>
        <span style="font-size: 15px; font-family: Arial, Helvetica, sans-serif; color: rgba(65, 65, 65, 1); display: block; margin-top: 20px;">
          For any issues with activation, please contact our administrator at
          mbr-query@petronas.com. Otherwise, you may ignore this email.
        </span>
      </div>
    </div>
  </body>
</html>